.infoHold {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.aboutHead {
  text-align: center;
  font-size: 3.5rem;
  color: white;
}
.me1 {
  height: 40rem;
}
.me2 {
  height: 50rem;
}
