.personal {
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 8px white groove;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: $purple-color;
}
.career {
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 8px white groove;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: $purple-color;
}
.goalOne {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.personalCard {
  position: relative;
  left: 32.5rem;
}
.rockVideo {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
iframe {
  box-shadow: rgb(78, 78, 78) 1px 1px 1px 1px;
  border-radius: 0.5rem;
}
