.headSecOne {
  margin-top: 2rem;
  text-align: center;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
}
.Jobs {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Work {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.workIMG {
  margin-top: 2rem;
  width: 12rem;
  height: 12rem;
  border-radius: 30px;
  box-shadow: rgb(58, 58, 58) 1px 1px 1px 1px;
  padding: 0.1rem;
}
#body {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}

.progress {
  background: rgba(0, 0, 0, 0.185);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 90rem;
}

.progress-value {
  animation: load 15s normal forwards infinite;
  box-shadow: 0 5px 20px 0px #fff;
  border-radius: 100px;
  background: rgb(0, 0, 0);
  height: 30px;
  width: 100%;
}

.loadhead {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  color: rgb(0, 0, 0);
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.Education {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.School {
  color: white;
  text-align: center;
}
.pictures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.me1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}
.me2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 37rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}
.me3 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}
.pics {
  text-align: center;
}
.resume {
  width: 45%;
  height: 50rem;
  margin-top: 1rem;
  // border: rgb(102, 0, 197) 10px groove;
  box-shadow: rgb(255, 255, 255) 2px 2px 2px 2px;
}
.resume:hover {
  box-shadow: rgb(255, 255, 255) 4px 4px 4px 4px;
}
.ResHead {
  margin-top: 1rem;
  text-align: center;
  color: whitesmoke;
  font-size: 3rem;
  width: 100%;
}
.ResHold {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
