@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: #9c9c9c;
}

a {
  text-decoration: none;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.headSecOne {
  margin-top: 2rem;
  text-align: center;
  color: black;
  font-size: 2.3rem;
  -webkit-text-decoration: black underline;
          text-decoration: black underline;
}

.Jobs {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Work {
  font-size: 1.5rem;
  text-align: center;
}

.workIMG {
  margin-top: 2rem;
  width: 12rem;
  height: 12rem;
  border-radius: 30px;
  box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.8), 0 0px 15px rgba(0, 0, 0, 0.8);
  padding: 0.1rem;
}

.Break {
  margin-top: 2rem;
  width: 100%;
  height: 0.5rem;
  background-color: black;
  border: white 2px solid;
}

.Education {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.School {
  text-align: center;
}

.pictures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.me1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}

.me2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 37rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}

.me3 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 30rem;
  width: 30rem;
  border-radius: 30px;
  box-shadow: black 2px 2px 2px 2px;
}

.pics {
  text-align: center;
}

.banner {
  width: 100%;
  height: 50rem;
  border-bottom: 3px white groove;
}

.nav {
  position: absolute;
  top: 1.5rem;
  left: 6rem;
  width: 90%;
  height: 5rem;
  background-color: transparent;
  display: flex;
}

.listItem {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
}

.list {
  margin-left: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.navHead {
  color: white;
  font-size: 2.5rem;
}

.footer {
  margin-top: 3rem;
  width: 100%;
  height: 12rem;
  background-color: #272727;
  border-top: white 5px groove;
}

.InfoHold {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.shortP {
  width: 30%;
}

.footStuff {
  text-align: center;
  margin-top: 0.5rem;
  width: 40%;
  color: white;
}

.travel {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.About {
  width: 100%;
  color: white;
  margin-top: 0.5rem;
  margin-right: 0;
}/*# sourceMappingURL=index.css.map */