.Error {
  margin-top: 3rem;
  width: 30%;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(27, 27, 27);
  border-radius: 30px;
}
.wrong {
  position: relative;
  top: 3.3rem;
  font-size: 3rem;
  color: white;
  text-align: center;
}
