.footer {
  margin-top: 3rem;
  width: 100%;
  height: 12rem;
  background-color: rgb(39, 39, 39);
  border-top: white 5px groove;
}
.InfoHold {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.shortP {
  width: 30%;
}
.footStuff {
  text-align: center;
  margin-top: 0.5rem;
  width: 40%;
  color: white;
}
.travel {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.About {
  width: 100%;
  // margin: 0rem;
  color: white;
  margin-top: 0.5rem;
  margin-right: 0;
}
