.nav {
  position: absolute;
  top: 1.5rem;
  left: 6rem;
  width: 90%;
  height: 5rem;
  background-color: transparent;
  display: flex;
}
.listItem {
  color: white;
}
.list {
  margin-left: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.navHead {
  color: white;
}
